@model iVoteMVC.Models.Student

@{
    ViewBag.Title = "iVote";
}



<h2>iVote</h2>
<h3>PIN: @Html.ViewBag.pin</h3>

StudentID: @Html.DisplayFor(model => model.ID) <br />
@Html.DisplayNameFor(model => model.session.name): @Html.DisplayFor(model => model.session.name) <br />
@Html.DisplayNameFor(model => model.session.NoOfQuestions): @Html.DisplayFor(model => model.session.NoOfQuestions) <br />
<hr />
<h4>@Html.DisplayFor(model => model.currentQuestion.text)</h4> <br />

<form>
    @{var i = 0;}
    @foreach (var answer in Model.currentQuestion.Answers){
        <input type="radio" name="Answer" value=@i> @Html.DisplayFor(model => answer.text) <br /> 
        i++;
    }
    <br />
    <input type="submit" value="Vote" />
</form>


