@model iVoteMVC.Models.Answer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Answer</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.text, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.text)
                @Html.ValidationMessageFor(model => model.text)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.voteCount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.voteCount)
                @Html.ValidationMessageFor(model => model.voteCount)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Question", "Details/" + Model.QuestionID, "Question")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
