@model iVoteMVC.Models.Question


@*@{
    var currentQuestion = Model.Questions.ToList().ElementAt(Model.CurrentQuestionIndex);
}*@

<body onload="drawChart()">
    <div id=@Model.ID style="width: 900px; height: 500px;"></div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {

            setTimeout(function () { location.reload(true) }, 5000);

            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            @foreach(var item in Model.Answers)
            {
                <text>
                    data.addRow(['@item.text (@item.voteCount votes)',@item.voteCount])
                </text>
            }

            var options = {
                title: '@Model.text \nVotes: @Model.NoOfVotes',
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('@Model.ID'));
            chart.draw(data, options);

            //var t = setTimeout(function () { drawChart() }, 2000);
        }
    </script>
</body>