@model iVoteMVC.Models.Session

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Session</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeacherID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateModifed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateModifed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.published)
        </dd>
        <br />
        <dt>@Html.DisplayNameFor(model => model.Questions)</dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Question</th>
                    <th>Answers</th>
                </tr>
                @foreach (var question in Model.Questions)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(question.text, "Details/" + question.ID, "Question")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => question.NoOfAnswers)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
