@model iVoteMVC.Models.Session

@{
    ViewBag.Title = "VoteControll";
}

@{
    var currentQuestion = Model.Questions.ToList().ElementAt(Model.CurrentQuestionIndex);
}

<body onload="refresh()">

    <h2>VoteControll</h2>
    <hr />
    <h3>@Html.DisplayNameFor(model => model.PIN): @Html.DisplayFor(model => model.PIN)</h3>
    <input type="button" value="Next Question" onclick="Model.nextQuestion()" />
    <input type="button" value="Clear Students" onclick="location.href='@Url.Action("ClearStudents", new { SessionID = @Model.ID })'" />

    <div>
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.published)
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.published)*@
                @if (Model.published == true) { Write("Yes, PIN: " + Model.PIN); }
                else { Write("No"); }

            </dd>
            <br />
            <dt>@Html.DisplayFor(item => currentQuestion.text)</dt>
            <br />
            <dd>
                <table class="table">
                    <tr>
                        @*<th>Question</th>*@
                        <th>@Html.DisplayNameFor(item => currentQuestion.Answers)</th>
                        <th>VoteCount</th>
                    </tr>
                    @foreach (var answer in currentQuestion.Answers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(item => answer.text)
                            </td>
                            <td>
                                @Html.DisplayFor(item => answer.voteCount)
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        </dl>
    </div>

    <hr />

    @{
        Html.RenderAction("StatsPartial", new { id = Model.ID });     
    }
    @*<div id="Stats"></div>*@
 
    <script type="text/javascript">
        function refresh(){
            var t = setTimeout(function () { $.ajax({
                url: "StatsPartial",
                data: { "id": '@Model.ID' },
                type: "POST",
                cache: false,
                success: function (data) {
                    $("#Stats").innerHTML = data;
                }}); }, 2000);
        }
    </script>

    <script type="text/javascript">
        function ClearStudents() {
            
        }
    </script>

</body>