@model iVoteMVC.Models.Teacher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Teacher</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Sessions)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Questions</th>
                </tr>
                @foreach (var session in Model.Sessions)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(session.name, "Details/"+session.ID, "Session")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => session.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => session.dateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => session.dateModifed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => session.NoOfQuestions)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
