@model iVoteMVC.Models.Teacher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Teacher</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Sessions)
        </dt>*@
        <dd>
            <table class="table">
                <tr>
                    <th>Sessions</th>
                    <th>Questions</th>
                </tr>
                @foreach (var session in Model.Sessions)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(session.name, "Details/"+session.ID, "Session")
                        </td>
                        <td>
                            @foreach (var question in session.Questions)
                            {
                                <table class="table">
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => question.text)</td>
                                        <td>
                                            @foreach (var answer in question.Answers)
                                            {
                                                @Html.DisplayFor(modelItem => answer.text)
                                                <br />
                                            }
                                        </td>
                                    </tr>
                                    
                                </table>
                            }
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
